
.section1acceuil{
    text-align: center;
    margin-top: 100px;
}

.section2acceuil{
    margin-top: 300px;
    text-align: center;
}
.pacceuil{
    margin-bottom: 100px;
}

.section3acceuil{
    background-color: grid
    background-image: url(pics/back.jpg);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding-top: 3px;
}
.menu a {
    color: #080808;
    margin: 20px;
}
.menu a:hover{
    color: #f89219;
}

.slider-area h2 {
	text-align: center;
	font-family: impact;
	font-size: 60px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 100px 0 30px 0;
	color: #fff;
}
.wrapper {
	display: flex;
	width: 750px;
	margin: 0 auto;
	overflow: hidden;
	border-radius: 180px;
	padding: 2.5rem;
	background: #ddd;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.item {
	animation: animate 25s alternate linear infinite;
}
.container:hover .item {
	animation-play-state: paused;
}
@keyframes animate {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-1100px, 0, 0);
	}
}
@media (max-width:767px) {
	.slider-area h2 {
		font-size: 30px;
	}
	.wrapper {
		width: 95%;
		border-radius: 0;
		padding: 0;
	}
}

.login{
	width: 500px;
	margin-left: 430px;
	background-color:   rgba(14, 13, 13, 0.7); 
	padding: 100px;
	margin-top: 80px;
	margin-bottom: 30px;
	color: #f89219;
}

