body{
    background-image: url(pics/back.jpg);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    height: 500px;
}
.section1acceuil{
    text-align: center;
    margin-top: 100px;
}
.section2acceuil{
    margin-top: 300px;
    text-align: center;
}
.pacceuil{
    margin-bottom: 100px;
}

.section3acceuil{
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url(pics/back.jpg);
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    padding-top: 40px;
}

.card-img-top{
    height: 200px;
    
}